body{
    font-family: "Raleway", sans-serif;
    margin: 0px;
}

.main{
    margin: 20px 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div:nth-of-type(2){
    display: flex;
    gap: 30px;
}

div a{
    text-decoration: none;
    color: #000000;
}

.hero{
    display: grid;
    grid-template-columns: 490px 570px;
    width: 100%;
    margin-top: 50px;
    gap: 30px;
}

.hero_second img{
    width: 100%;
    max-width: 570px;
}

.productive_text{
    background-image: url(images/bg-curve-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 600px 500px;
    gap: 50px;
    margin-top: 55px;
}

.slide_one,.slide_two{
    margin: 135px 30px;
}

.slide_one p{
    max-width: 505px;
}

.slide_one a{
    color: aqua;
    border-bottom: 0.1px solid aqua;
}

.underscore{
    background-color: white;
    max-width: 350px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
}

.underscore h1{
    font-size: 30px;
    font-weight: 700;
    margin: 0px;
}

.underscore p{
    max-width: 330px;
    margin: 0px;
}

.underscore > div{
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.underscore div img{
    border-radius: 50%;
    width: 50px;
    height: 50px;   
}

.profile_text{
    margin-top: 7px;
}

.profile_text h4{
    margin: 0px;
}

.profile_text span{
    margin-top: -1px;
}

.slide_two img{
    width: 100%;
    max-width: 450px;
}